body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(0, 0%, 95%);
}

/* Styling for calculator */
#calculator {
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 5%);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    padding: 20px;
    overflow: hidden; /* Prevents child elements from overflowing */
}

/* Styling for the display input of the calculator */
#display {
    width: 100%;
    padding: 100px 20px 20px; 
    font-size: 3.5rem; /* 4vw if going for responsive font size */
    text-align: right;
    border: none;
    background-color: hsl(0, 0%, 5%);
    color: white;
    box-sizing: border-box; /* Include padding and border in the element's width and height */
    pointer-events: none; /* Prevents the element from being the target of mouse events */
    user-select: none; /* Prevents text selection */
}

/* Grid layout for calculator keys */
#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 15px;
}

/* Styling for all buttons */
button {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
    font-size: 1.75rem;
    font-weight: normal;
    cursor: pointer;
    transition: background-color 0.2s;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

/* Styling for operator buttons only */
.operator-btn {
    background-color: hsl(0, 0%, 10%);
    color: hsl(25, 100%, 55%);
    font-size: 1.5rem;
}

.operator-btn:hover {
    background-color: hsl(0, 0%, 20%);
}

.operator-btn:active {
    background-color: hsl(0, 0%, 30%);
}

/* Styling for equal button */
.equal-btn {
    background-color: hsl(25, 100%, 55%);
}

.equal-btn:hover {
    background-color: hsl(25, 100%, 65%);
}

.equal-btn:active {
    background-color: hsl(25, 100%, 75%);
}

.material-icons {
    color: hsl(25, 100%, 55%);
}